<!-- Collapsed navbar is configured to drop down on click through this:
  https://medium.com/@tiboprea/build-a-responsive-bootstrap-4-navbar-in-angular-5-without-jquery-c59ad35b007 -->

<div class="container-fluid bg-light" id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" routerLink=""  routerLinkActive="active">
      <img class="header-logo" src="assets/img/logos/logo-horizontal.png" alt="Give+Seek Logo" />
    </a>
    <button class="navbar-toggler" type="button" (click)=toggleNavbar() data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse show" id="navbarSupportedContent" [ngClass]="{'show':navbarOpen}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""  routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/nwHacks2019" target="_blank">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us"  routerLinkActive="active">About Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
