.page-footer {
  background-color: #A3A6B4;
  font-size: 11pt;
}

.row {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px 30px 50px 20px;
}

.column-logo {
  padding: 0;
}

#float-logo {
  display: inline-block;
  margin: auto;
}

#logo {
  max-width: 75%;
  display: block;
  margin: auto;
  padding: 50px 0 0 0;
}

b {
  color: white;
}

a {
  color: white !important;
  font-size: 1.3em !important;
}

h2 {
  color: white;
  font-weight: bold;
  padding: 0 0 20px 0;
}
