<footer class="page-footer font-small indigo">

  <div class="container">

    <div class="row py-5">

      <div class="col-sm align-self-center">
        <p>Looking for kindness from those who have compassion to spare? Seek for what you need, when you need it most.</p>
      </div>

      <div class="col-sm column-logo py-4">
        <a href="https://github.com/nwHacks2019" target="_blank"><img src="assets/img/logos/logo.png" alt="Logo" id="logo" /></a>
      </div>

      <div class="col-sm align-self-center">
        <p>Have resources to help those who rely on you? Give back to the community that cares for you.</p>
      </div>

    </div>

  </div>

</footer>
