<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div id="footer-description" class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem"><b>Give+Seek</b> is where we provide unconditionally to those who need assistance and ask without hesitation from those who are kind. A platform for human connection and support when we need it most.</p>
          <p style="line-height: 1.7rem">Looking for kindness from those who have compassion to spare? Seek for what you need, when you need it most.</p>
          <p style="line-height: 1.7rem">Have resources to help those who rely on you? Give back to the community that cares for you.</p>
        </div>

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    </div>

    <div class="footer-copyright footer-description text-center py-3">© 2019 Copyright:
      <a href="https://github.com/nwHacks2019" target="_blank"><h4 id="project-name">Give + Seek</h4></a>
    </div>

  </footer>
