<app-header></app-header>

<title>Give+Seek | About</title>
<meta property="og:title" content="Give+Seek | About">
<meta property="og:image" content="assets/img/team-present.jpg">
<meta property="og:description" content="A platform for human connection and support when we need it most. Project for nwHacks 2019.">

<div class="container pb-5" id="about-main">

  <blockquote class="blockquote text-center mt-5 mb-4">
    <p><i><span class="emph-green">Give</span>, with an open heart.</i></p>
    <p><i><span class="emph-yellow">Seek</span>, with no hesitation.</i></p>
  </blockquote>

  <img class="img-fluid d-block mx-auto pb-4" src="assets/img/logos/logo.png" alt="Give+Seek Logo">

  <p>
    <a href="https://nwhacks2019.github.io/frontend/" target="_blank"><b>Give+Seek</b></a> is a place where the community comes together in times of need. People have the opportunity to provide unconditionally to those who need assistance, and those in need can ask without hesitation from those who are kind.
  </p>
  <p>
    The project was created during January 26-27, 2019 for <a href="https://www.nwhacks.io/" target="_blank">nwHacks 2019</a>.
  </p>
  <p>
    Watch a video of the <a href="https://youtu.be/MsyDv-oxabQ" target="_blank">presentation and mockup demo</a>.
  </p>

  <a href="https://github.com/lumohacks2018" target="_blank">
    <img class="d-block mx-auto py-5 company-logo" src="assets/img/logos/github.png" alt="GitHub logo" title="View the source code on GitHub">
  </a>

  <img class="img-fluid d-block mx-auto pt-2 pb-5" src="assets/img/team/present.jpg" alt="Team picture" title="Team picture">

  <h1>The Inspiration</h1>

  <p>
    The recent government shutdown from December 22, 2018 to January 25, 2019 in the US brought hardships on nearly a <a href="https://slate.com/news-and-politics/2019/01/government-shutdown-furloughed-workers-crowdfund-reddit-advice.html" target="_blank">million government employees</a>, who went unpaid for a record span of 35 days. Many were in need of food, daycare, and shelter after a single missed paycheck, <a href="https://www.news5cleveland.com/news/local-news/cleveland-metro/government-shutdown-exposes-financial-insecurity-for-many-federal-workers" target="_blank">relying on food banks and donors</a>. Local and federal resources were drained to support the masses of unpaid workers, and they were <a href="https://www.washingtonpost.com/national-security/2019/01/09/coast-uard-families-told-they-can-have-garage-sales-cope-with-government-shutdown/" target="_blank">encouraged to take on additional jobs</a>.
  </p>

  <blockquote class="blockquote py-3" cite="https://slate.com/news-and-politics/2019/01/government-shutdown-furloughed-workers-crowdfund-reddit-advice.html">
    <p>
    "Never in a million years would I have ever dreamed that I’d be turning to GoFundMe asking for help, because in all honesty, I’ve always felt there was probably someone else who could use the help more than my family."
    </p>
    <footer class="blockquote-footer">
      Jo Ann Goodlow, <cite title=""><a href="https://www.gofundme.com/dknfgg-government-shutdown" target="_blank">GoFundMe: Government Shutdown</a></cite>
    </footer>
  </blockquote>

  <img class="img-fluid d-block mx-auto pt-1 pb-4" src="assets/img/shutdown-sign.jpg" alt="Government Shutdown sign">

  <p class="pt-3">
    On a more sombre note, during the attacks on the United States of America on September 11, 2001, <a href="https://jalopnik.com/man-who-grounded-4-000-planes-on-9-11-was-on-first-day-5838772" target="_blank">over 4,000 planes</a> were grounded all over North America and unable to fly. Over <a href="https://www.thecanadianencyclopedia.ca/en/article/canada-and-911" target="_blank">200 planes</a> were diverted to Canada, 34 of which landed in Vancouver.
  </p>
  <img class="img-fluid d-block mx-auto py-3" src="assets/img/9-11-planes.jpg" alt="Planes stranded">
  <p>
    From the areas where thousands of people waited, terrified and alone, communities reached out with warm hands to support and help wherever they could. <a href="https://www.mysteriesofcanada.com/canada/9-11-day-planes-stood-still/" target="_blank">Gander, Newfoundland</a> provided the warmest welcome; the town of only 10,000 provided medicine, water, food, and shelter to a stranded group of 10,000 more. Schools, shelters, local buildings, and any feasible spaces were repurposed for temporary shelter. A pregnant woman was well taken care of by medical professionals and nurses. Doctors and high school students alike sprang to help any way they could.
  </p>

  <blockquote class="blockquote py-3" cite="https://www.mysteriesofcanada.com/canada/9-11-day-planes-stood-still/">
    <p>
      "At a time when the world, for many, seemed to be falling apart, many Canadians, in Gander, Halifax and many other places, came together to open their houses, stores and hearts to perfect strangers. And I dare to predict that neither the Canadians nor the strangers will ever forget the experience."
    </p>
    <footer class="blockquote-footer">
      Bruce Ricketts, <cite title="Mysteries of Canada"><a href="https://www.mysteriesofcanada.com/canada/9-11-day-planes-stood-still/" target="_blank">9/11 - The Day the Planes Stood Still</a></cite>
    </footer>
  </blockquote>

  <img class="img-fluid d-block mx-auto py-4" src="assets/img/9-11-gander.jpg" alt="Planes stranded">

  <p>
    The hospitality, compassion, and welcoming love of the town of Gander for those who needed help was incomparable. Our question was this: <strong>How can we provide people with ways to continue helping those in need in our community?</strong>
  </p>

  <h1 class="py-3">Target Consumers</h1>

  <h1>Solution</h1>

  <!-- Demo: https://adobe.ly/2Ujc6Vt -->

  <!-- Presentation: https://youtu.be/MsyDv-oxabQ -->

  <h2>Mockup</h2>

  <h2>Technology Stack</h2>

  <h3>Web Application</h3>
  <p>
    <a href="https://angular.io/" target="_blank">
      <img class="d-block mx-auto py-3 company-logo" src="assets/img/logos/angular.png">
    </a>
  </p>

  <h3>Server</h3>

  <div class="d-block mx-auto py-3" style="text-align: center;">
    <a href="https://expressjs.com/" target="_blank">
      <img class="d-inline px-4 company-logo" src="assets/img/logos/nodejs.png">
    </a>
    <a href="https://nodejs.org/" target="_blank">
      <img class="d-inline px-4 company-logo" src="assets/img/logos/express.png">
    </a>
  </div>

  <div class="d-block mx-auto py-3" style="text-align: center;">
    <a href="https://cloud.google.com/" target="_blank">
      <img class="d-inline px-4 company-logo" src="assets/img/logos/google-cloud-platform.png">
    </a>
    <a href="https://cloud.google.com/compute/" target="_blank">
      <img class="d-inline px-4 company-logo" src="assets/img/logos/google-compute-engine.png">
    </a>
  </div>

  <h1>Positioning</h1>

  <h1>Objectives</h1>

  <p>
    The potential of human connection cannot be understated. Those who have need may come to seek for what they need, when they need it most. They seek for kindness from those who have compassion to spare. Those who have resources to help others may give back to the community that cares for them.
  </p>
  <p>
    We are here for each other.
  </p>

  <h1>About the Team</h1>

  <p>This project was built by Carol Chan, Carmen Yang, Anmol Bajaj, and Jeffrey Leung.</p>

  <p><i>Disclaimer: This page was created after the hackathon's completion.</i></p>

</div>

<app-footer></app-footer>
