<router-outlet></router-outlet>

<app-header></app-header>


<img class="header-image" src="assets/home-header.png" alt="Give+Seek header image">

<div class="container-fluid">
        <div class="row">
          <a name="display"></a>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span class="card-title-emph">Give</span>, with an open heart</h5>
                <p class="card-text">Directly help the people in need.</p>
                <a href="#display" class="btn btn-primary" (click)="onClickStartGiving()">START GIVING</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span class="card-title-emph">Seek</span>, with no hesitation</h5>
                <p class="card-text">Request essential supplies from people around you.</p>
                <a href="#display" class="btn btn-primary" (click)="onClickStartSeeking()">START SEEKING</a>
              </div>
            </div>
          </div>

        </div>
</div>

<div class="requests-display-container">
  <div class="requests-display" *ngIf="toggleGiving">
    <app-give></app-give>
  </div>

  <div class="requests-display" *ngIf="toggleSeeking">
    <app-seek></app-seek>
  </div>
</div>

<app-footer></app-footer>
