<br>
<div class="container-fluid">
    <div class="row">
      <div class="container-fluid bg-light py-3">
          <br>
          <h2>What can you give today?</h2>
          <br>
          <h5>List your item here. Your giving will be matched by someone in urgent need of that item.</h5>

          <form #giverForm="ngForm" novalidate (ngSubmit)="onSubmit()">
          <!-- <form id="contact-form" method="post" action="contact.php" role="form"> -->
           <!-- {{ giverForm.value | json}} -->
           <!-- {{userModel | json}} -->
            <div class="messages"></div>
                <div class="controls">
                    <div class="row" ngModelGroup="user">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_name">Name *</label>
                                <input id="form_name" type="text" [(ngModel)]="userModel.user_name" name="name" class="form-control" placeholder="Please enter your name" required="required" data-error="Your name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" [(ngModel)]="userModel.user_email" name="email" class="form-control" placeholder="Please enter your email" required="required" data-error="A valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_location">Location</label>
                                <input id="form_location" type="text" [(ngModel)]="userModel.user_location" name="location" class="form-control" placeholder="Please enter your location">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Item *</label>
                            <input id="form_message" type="text" [(ngModel)]="userModel.item" name="message" class="form-control" placeholder="What can you give today?" required="required" data-error="You must provide an item.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>


                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Agree to our terms and conditions.</label>
                      </div>

                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-send btn-give" value="+ ADD">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                    </div>
                </div>
            </form>
        </div>

      </div>
</div>

<div class="container-fluid">
    <div class="col-xs-6 data-display">
        <h3 style="text-align: center;">Today, you gave...</h3>
        <ul class="list-group" *ngFor="let yourGive of giveInfo$">
            <li class="list-group-item list-group-item success" *ngIf="yourGive.item">
                {{yourGive.item}} ({{yourGive.quantity}})
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid" id="uh">
  <div class="col-xs-6 data-display">
      <h3 style="text-align: center;">Others have given...</h3>
      <ul class="list-group" *ngFor="let Info of Infos">
          <li class="list-group-item list-group-item success" *ngIf="Info.item">
              {{Info.item}} ({{Info.quantity}})
          </li>
      </ul>
  </div>
</div>
