<br>
<div class="container-fluid">
    <div class="row">
      <div class="container-fluid bg-light py-3">
          <br>
          <h2>What will you give today?</h2>
          <br>
          <h5>List your item here. Your giving will be matched by someone in urgent need of that item.</h5>
            
          <form #giverForm="ngForm" novalidate (ngSubmit)="onSubmit()">
          <!-- <form id="contact-form" method="post" action="contact.php" role="form"> -->
           <!-- {{ giverForm.value | json}} -->
           <!-- {{userModel | json}} -->
            <div class="messages"></div>
                <div class="controls">
                    <div class="row" ngModelGroup="user">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_name">Name *</label>
                                <input id="form_name" type="text" [(ngModel)]="userModel.user_name" name="name" class="form-control" placeholder="Please enter your name *" required="required" data-error="name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" [(ngModel)]="userModel.user_email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="form_location">Location</label>
                                <input id="form_location" type="text" [(ngModel)]="userModel.user_location" name="location" class="form-control" placeholder="Please enter your location*">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
        
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Item *</label>
                            <textarea id="form_message" name="message" [(ngModel)]="userModel.item" class="form-control" placeholder="Item you are giving *" rows="4" required="required" data-error="send a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Agree to our terms and conditions.</label>
                      </div>

                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-send" value="Submit your item">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                    </div>
                </div>
            </form>
        </div>
        
      </div>
</div>

<!-- HACKED TOGETHER -->
<div class="container-fluid">
    <div class="col-xs-6">
        <h3 align="center">Today, you gave...</h3>
        <div *ngFor="let giverArray of giverArrayHack">
            <ul class="list-group" *ngFor="let giverArray of giverArrayHack">
                <li class="list-group-item list-group-item-success">{{ giverArray }} - <b>Congrats! You have been matched!</b> Seeker name: Jess K. Email: jessk@giveandseek.com</li>
            </ul>
        </div>
    </div>
  </div>

<!-- HACKED END -->

<!-- USING SERVER -->
<!-- <div class="container-fluid">
    <div class="col-xs-6">
        <h3 align="center">Today, you gave...</h3>  
        <div *ngFor="let giverInfo of giveInfo$?.data">
            <ul class="list-group">
                    {{giverInfo}} 
                <li class="list-group-item">{{giverInfo | json}} </li>
            </ul>
        </div>
    </div>
  </div> -->


<!-- USING SERVER END -->
<div class="container-fluid">
  <div class="col-xs-6">
      <h3 align="center">Others have given... </h3>
      <div *ngFor="let info of Infos$">
          <ul class="list-group">
              <li class="list-group-item">{{ info.item }}</li>
          </ul>
      </div>
  </div>
</div>


