@font-face {
  font-family: "Avenir Next";
  src: url(assets/fonts/avenir-next-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  src: url(assets/fonts/avenir-next-bold.ttf) format("truetype");
  font-weight: bold;
}

* {
  font-family: "Avenir Next" !important;
  font-size: 1em;
}

a {
  color: #19ADAD !important;
}

.container-fluid {
  background-color: #EFEFEF;
}

.card {
  background-color: #D8EDED;
}

.btn {
  color: white !important;
  background-color: #19ADAD !important;
  border-radius: 40px !important;
  border: none !important;
  padding: 15px 50px !important;
  font-weight: bold !important;
}

.col-sm-4 {
  padding: 30px 0 0;
}
