.container-fluid {
  background-color: #EFEFEF;
}

.page-footer {
  background-color: #EFEFEF;
}

.card {
  background-color: #D8EDED;
}

a {
  color: #19ADAD !important;
}

.btn {
  color: white !important;
  background-color: #19ADAD !important;
}
